#main {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  border-radius: 1000px;
  border: 10px outset green;
  background-color: #2a9d8f;
  color: #264653;
  width: 175px;
  margin: 2em auto;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
  font-family: Courier New;
  font-size: 150%;
  transition: all 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  box-shadow: 10px 15px 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #06d6a0;
}

#main:active,
#main.active {
  color: #e9c46a;
  background-color: #003049;
  height: 200px;
  width: 350px;
  line-height: 200px;
  font-size: 200%;
  margin: 2em auto;
  transform: rotate(720deg);
  box-shadow: 20px 20px 20px #4361ee;
}

button {
  display: block;
  margin: 1em auto;
  font-size: 175%;
  border-radius: 25px;
  background-color: #ee9b00;
  color: #0a9396;
}

body {
  background-color: #457b9d;
}

p {
  margin: 20px;
  color: yellow;
}

button:nth-of-type(2n) {
  background-color: #f72585;
  border-radius: 0;
}